{% extends "basePage.html" %}

{% block content %}
    <h1>Все заявки</h1>

    <form>
        <label for="status">Фильтр по статусу:</label>
        <select name="status">
              <option value="">Все</option>
              <option value="Новая">Новая</option>
              <option value="Принято в работу">Принято в работу</option>
              <option value="Выполнено">Выполнено</option>
        </select>
    <input type="submit" value="Фильтровать">
    </form>

    {% if applications %}
    <ul>
        {% for i in applications %}
            <div class="application">
                <p> <b>Время создания: </b>  {{i.date_create}} -- {{i.time_create}}</p>
                <p> <b>Название: </b>{{ i.application_title }} </p>
                <p> <b>Категория: </b>{{i.category}} </p>
                <p> <b>Фотография: </b> <img src="{{i.photo_of_room.url}}" width="200px" height="200px"/> </p>
                <p> <b>Статус: </b>{{i.status}} </p>
                <a class="btn btn-primary mb-1" href="{% url 'application-change-status' i.id %}">Изменить статус</a>
            </div>
        {% endfor %}
    </ul>

    {% else %}
      <p>нет заявок</p>
    {% endif %}
{% endblock %}